@import url("base.css");
/* Using a url */

/* ======================================== RESPONSIVE ============================*/

/* ================================= <= 992px ================================ */

@media (max-width: 992px) {
    nav .navbar-center {
        display: none;
    }

    nav .navbar-right>a:last-child {
        display: block !important;
    }

    nav .navbar-sticky {
        padding: 10px 0;
    }

    .footer-center {
        padding: 30px;
    }

    .shop-filters.screen-large {
        display: none;
    }

    .filter-sort .fiter-sort-left>i.fa-bars {
        display: block;
    }

    .filter-search {
        display: none;
    }

    .section-type-list {
        margin-bottom: 20px;
    }

    .page-cart .table {
        overflow-x: scroll;
        padding: 0 4px
    }

    .page-cart .table table {
        width: 800px;
    }

    .contact-margin-top {
        margin-top: 60px;
    }

    .search-products {
        margin: 0 50px;
    }
}


@media (max-width: 768px) {

    /* .products-view-content .container .row div:nth-child(even) {
        border-left: 1px solid #d8d0d0;
        border-right: 1px solid #d8d0d0;
    } */

    .page-cart .total-product ul li>div h5 {
        font-size: 14px;
        line-height: 20px;
    }

    .page-cart .total-product ul li>div strong,
    .page-cart .total-product ul li>div span {
        font-size: 18px;
    }

    .product-info-right .name {
        margin-top: 10px;
    }

    .search-products>div:first-child {
        width: 80%;
    }

    .search-products>div:last-child {
        width: 20%;
    }
}



/* ============================== <= 576px ============================== */
@media (max-width: 576px) {
    .footer-center {
        padding: 16px;
    }

    .filter-tm .filter-tm-inner {
        width: 90%;
    }

    .cart-products .inner-cart,
    .mobile-menu .mobile-menu-inner {
        width: 90%;
    }

    .search-products {
        margin: 0 30px;
    }

    .products-margin h3 {
        margin-top: 40px;
    }

    .products-margin.products-provide .row.active>div,
    .products-margin.products-relate .row.active>div {
        padding: 0 8px;
    }

    .products-margin.products-provide .shop-products-card,
    .products-margin.products-relate .shop-products-card {
        margin-bottom: 18px;
    }
}


/* ---------------------- CONTACTS Page ================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-margin {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .section-title {
        margin-bottom: 50px;
    }
}

/* =============================== BLog Page ============================== */
@media only screen and (max-width: 767px),
only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px) {
    .blog-page .blog-content .title {
        font-size: 22px;
    }
}

@media only screen and (max-width: 479px) {
    .blog-page .blog-content .title {
        font-size: 20px;
    }
}